@import url(https://fonts.googleapis.com/css?family=Syne+Mono&display=swap);

body {
    width: 275px;
    font-family: "Syne Mono", monospace;
    color: #E7E7E7;
    font-size: 14px;
    text-align: center;
    margin: 15px auto 10px;
    border-radius: 5px;
}

img {
    cursor: pointer;
    width: 180px;
    height: auto
}

button {
    height: 35px;
    width: 100%;
    cursor: crosshair;
    vertical-align: middle;
}

p {
    margin: 0;
    font-size: 12px;
    text-align: left;
    padding: 8px 3px 2px;
    line-height: 1.3;
}

.section {
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 5px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    margin-left: 6px;
    margin-right: 15px;
}

.status-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 8px;
}

.topic {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.topic-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.volume-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.settings {
    margin-left: 10px;
    font-size: 35px;
    cursor: crosshair;
    letter-spacing: 2px;
}

.go-to-button {
    cursor: pointer;
}

.date {
    font-size: 12px;
}
