@import url(https://fonts.googleapis.com/css?family=Syne+Mono&display=swap);

body {
    width: 275px;
    font-family: "Syne Mono", monospace;
    color: #E7E7E7;
    font-size: 14px;
    text-align: center;
    margin: 15px auto 10px;
    border-radius: 5px;
}

img {
    cursor: pointer;
    width: 180px;
    height: auto
}

button {
    height: 30px;
    width: 100%;
    cursor: crosshair;
    vertical-align: middle;
    border: none;
    color: #E7E7E7;
    background-color: #434343;
    transition: all 0.1s ease-in-out;
    transform: scale(1);
}

button:hover {
    color: white;
    background-color: #5a5a5a;
    box-shadow: 0px 0px 10px 0px rgba(128, 255, 118, 0.4);
}

button:active {
    transform: scale(0.97);
    background-color: #3a3a3a;
    box-shadow: 0px 0px 5px 0px rgba(128, 255, 118, 0.3);
}

p {
    margin: 0;
    font-size: 12px;
    text-align: left;
    padding: 8px 3px 2px;
    line-height: 1.3;
}

p {
    margin: 0;
    font-size: 12px;
    text-align: left;
    padding: 8px 3px 2px;
    line-height: 1.3;
}

.section {
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 5px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    margin-left: 6px;
    margin-right: 15px;
}

.status-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 8px;
}

.topic {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.topic-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.settings {
    font-size: 16px;
    cursor: crosshair;
    letter-spacing: 2px;
}

.filler {
    width: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.date {
    font-size: 12px;
}

.input-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sound-button {
    border-radius: 5px;
}
